/*  SKI FREE  */

#ski-home {
  /*border: solid 1px black;*/
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
}

#skier {
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 99;
}

.ski-down {
  background-image: url("skidown.png");
}

.ski-left {
  background-image: url("skileft.png");
}

.ski-right {
  background-image: url("skiright.png");
}

.ski-downleft {
  background-image: url("skidownleft.png");
}

.ski-downright {
  background-image: url("skidownright.png");
}

.ski-fall {
  background-image: url("skifall.png");
}

.ski-jump {
  background-image: url("skijump.png");
}



 /* 25 px */
.box {
  height: 20px;
  width: 20px;
  /*border: 1px solid black;*/
  display: inline-block;
  box-sizing: border-box;
  border-radius: 5px;
}
.row {
  margin: 0;
  height: 20px;
}

.tree {
  background-color: brown;
}

.rock {
  background-color: gray;
}

.snow {
  border: 1px solid black;
}